.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.activeButton {
  color: lightblue;
}

.logo {
  width: auto;
  height: 65px;
  justify-content: center;
  align-content: center;
  padding-bottom: 2px;
}

.logo:hover {
  cursor: pointer;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: black;
}

.searchbar {
  height: 12px;
  margin-top: 20px;
}

.App-link {
  color: #61dafb;
}
.imageStyle {
  width: "100%";
  height: "100%";
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
mark {
  background-color: #61dafb;
}
